<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jrehman-001-site5.ftempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ftp.smarterasp.net</MSDeployServiceURL>
    <DeployIisAppPath>ICON</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>b2bicon</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Admin.Models.ApplicationDbContext, Admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ICONEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Admin.DBLayer.ICONEntities2, Admin" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ICONEntities1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_9B9429_icon;User ID=DB_9B9429_icon_admin;Password=Omer@1976;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICONEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DBLayer.ICONEntities.csdl|res://*/DBLayer.ICONEntities.ssdl|res://*/DBLayer.ICONEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5032.SmarterASP.NET;Initial Catalog=DB_9B9429_icon;User Id=DB_9B9429_icon_admin;Password=Omer@1976;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICONEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5032.SmarterASP.NET;Initial Catalog=DB_9B9429_icon;User ID=DB_9B9429_icon_admin;Password=Omer@1976;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICONEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DBLayer.DBICON.csdl|res://*/DBLayer.DBICON.ssdl|res://*/DBLayer.DBICON.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5032.SmarterASP.NET;Initial Catalog=DB_9B9429_icon;User Id=DB_9B9429_icon_admin;Password=Omer@1976;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICONEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICONEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICONEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>